body {
    background: linear-gradient( rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0.75) ), url("background.gif") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    color: #00D301FF;
    font-family: 'Josefin Sans', sans-serif;
}

a {
    font-size: 18px;
    color: #00D301FF;
}

li:not(:last-child) {
   margin-bottom: 10px;
}

#menu-bar {
    float: left;
    padding-right: 30px;
}

#search-bar {
    padding-top: 3px;
    padding-left: 10px;
}

#menu, #admin, #login, #login-button, #register, #search, #create-user, #send-button, #logout-button, #account-button, #delete-button, #update-button{
    border-radius: 8px;
    text-decoration: none;
    display: inline-block;
    outline: 0;
    text-align: center;
    cursor: pointer;
    border: 0;
    color: #fff;
    font-size: 20px;
    padding: 10px 21px;
    background: #00d301;
    background: -webkit-linear-gradient(-196deg,#00d301,#36c275 50%,#00a562);
    background: -webkit-linear-gradient(164deg,#00d301,#36c275 50%,#00a562);
    background: linear-gradient(286deg,#00d301,#36c275 50%,#00a562);
    font-weight: 800;
    transition: background,color .1s ease-in-out;
    font-family: 'Josefin Sans', sans-serif;
}

#delete-button{
    background: #d30000;
}

#update-button {
    background: #008cff;
}

#login-button, #search, #create-user, #send-button, #logout-button, #account-button {
    padding: 3px 6px;
    font-size: 15px;
    margin-top: 10px;
    margin-left: 10px;
}

#flash-message {
    font-size: 25px;
    color: red;
}
